<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Edit Order</h2>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    <a class="btn btn-secondary" th:href="@{/admin/orders}">Back to orders</a>

    <form th:action="@{'/admin/orders/edit/' + ${order.id}}" th:object="${order}" method="post">
        <!-- Assuming you only want to edit the order status -->
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option th:each="statusOption : ${T(com.example.demo.model.OrderStatus).values()}"
                        th:value="${statusOption}" th:text="${statusOption}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<footer class="footer mt-auto py-3 bg-light" >
    <div class="container">
        <h2>Administrative Actions</h2>
        <ul>
            <li><a th:href="@{/admin/roles}">Manage Roles</a></li>
            <li><a th:href="@{/admin/books}">Manage Books</a></li>
            <li><a th:href="@{/admin/orders}">Manage Orders</a></li>
        </ul>
    </div>
</footer>


</body>
</html>
