<!-- editUser.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Edit User</h2>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    <a class="btn btn-secondary" th:href="@{/admin/users}">Back to users</a>
    <form th:action="@{'/admin/users/edit/' + ${user.username}}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<footer class="footer mt-auto py-3 bg-light" >
    <div class="container">
        <h2>Administrative Actions</h2>
        <ul>
            <li><a th:href="@{/admin/roles}">Manage Roles</a></li>
            <li><a th:href="@{/admin/books}">Manage Books</a></li>
            <li><a th:href="@{/admin/orders}">Manage Orders</a></li>
        </ul>
    </div>
</footer>


</body>
</html>
