<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{@{/../index} :: main-header}">
    <title>My Profile</title>
</head>
<style>
    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }
</style>

<body>

<nav th:replace="~{@{/../index} :: main-navbar}"></nav>

<div class="container mt-5">
    <span th:if="${error != null}">
        <p th:text="${error}"></p>
    </span>
    <span th:if="${success != null}">
        <p th:text="${success}"></p>
    </span>
    <div class="card">
        <div class="card-header">
            My Profile
        </div>
        <div class="card-body">
            <h5 class="card-title">Username: <span th:text="${user.username}"></span></h5>
            <p class="card-text">Email: <span th:text="${user.email}"></span></p>
            <p class="card-text">Account Status:
                <span th:if="${user.accountNonLocked}" class="text-success">Active</span>
                <span th:unless="${user.accountNonLocked}" class="text-danger">Locked</span>
            </p>

            <hr>

            <form th:action="@{/changePassword}" method="post">
                <div class="form-group">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm New Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>

            <hr>

            <form th:action="@{/deleteAccount}" method="post">
                <div class="form-group">
                    <label for="passwordConfirmation">Confirm Your Password to Delete Account:</label>
                    <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" required>
                </div>
                <button type="submit" class="btn btn-danger">Delete My Account</button>
            </form>
        </div>
    </div>

    <div class="mt-5">
        <h3>Purchase History</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Total of purchases</th>
                    <th scope="col">Total Amount of money spend</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${purchaseHistory_count}"></td>
                    <td th:text="${purchaseHistory.totalAmount}"></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Number of items</th>
                <th scope="col">Total amount</th>
                <th scope="col">Order date</th>
                <th scope="col">Status of order</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${purchaseOrders}">
                <td th:text="${order.getFullNumberOfItems()}"></td>
                <td th:text="${order.totalAmount}"></td>
                <td th:text="${order.orderDate}"></td>
                <td><a th:href="@{'/purchase/' + ${order.id} + '/details'}">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<footer th:replace="~{@{/../index} :: main-footer}"></footer>
<div th:insert="~{@{/../index} :: js-dependency}"></div>

</body>
</html>
