<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{@{/../index} :: main-header}">

</head>
<head>
    <link rel="stylesheet" th:href="@{/styles/books_styles.css}" type="text/css" media="all">
</head>
<body>

<nav th:replace="~{@{/../index} :: main-navbar}">

</nav>

<div class="jumbotron jumbotron-fluid text-center bgimage">
    <div class="container" style="z-index:1; position:relative;">
        <h1 class="display-5">Explore Our Collection</h1>
        <p class="lead">Discover a wide range of books</p>
    </div>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 0;"></div>
</div>

<div class="container" th:fragment="books-view">
    <p th:text="${error}" class="alert alert-danger">[...]</p>
    <form th:action="@{/books/search}" method="post" class="custom-form">
        <div class="input-group">
            <input id="search" type="search" name="bookName" class="form-control" placeholder="Search by Book Name">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <form th:action="@{/books/filterByPrice}" method="post" class="custom-form">
        <div class="input-group">
            <input id="priceRange" type="range" name="price" min="0" max="300" class="form-range"
                   onchange="updateTextInput(this.value);">
            <input type="text" id="textInput" value="" class="form-control" readonly>
            <button type="submit" class="btn btn-primary">Apply Price Filter</button>
        </div>
    </form>

    <form th:action="@{/books/filterByAuthor}" method="post" class="custom-form">
        <div class="input-group">
            <input type="search" id="author" name="author" class="form-control" placeholder="Filter by Author">
            <button type="submit" class="btn btn-primary">Search by Author Name</button>
        </div>
    </form>
    <div class="row" th:if="${books != null and not #lists.isEmpty(books)}">
        <div class="col-md-4  " th:each="book : ${books}" th:if="${book.getStockQuantity() > 0}">
            <div class="card mb-4 book-box">
                <div class="card-body">
                    <img th:src="@{${book.coverUrl}}" alt="cover-image" class="book-image">
                    <h5 class="card-title book-title" th:text="${book.title}"></h5>
                    <p class="card-text" th:text="${book.author}"></p>
                    <p class="book-price" th:text="${book.price + '$'}"></p>
                    <a th:href="@{'/books/' + ${book.id}}" class="btn btn-info btn-sm mr-2">View Details</a>
                    <form th:action="@{/cart/add}" method="post" class="d-flex align-items-center">
                        <input type="hidden" name="bookId" th:value="${book.id}">
                        <div class="form-group mr-2 row align-items-center">
                            <label for="quantity" class="col-auto mr-2">Quantity:</label>
                            <div class="col">
                                <input type="number" id="quantity" name="quantity"
                                       value="1" min="1" th:max="${book.stockQuantity}"
                                       class="form-control"  style="width: 70px;">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{@{/../index} :: main-footer}">
</footer>

<div th:insert="~{@{/../index} :: js-dependency}"></div>
<script>
    function updateTextInput(val) {
          document.getElementById('textInput').value=val+"$";
        }
</script>
</body>
</html>
