<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{@{/../index} :: main-header}">
</head>

<head>
    <link rel="stylesheet" th:href="@{/styles/books_styles.css}" type="text/css" media="all">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:replace="~{@{/../index} :: main-navbar}">

</nav>

<div class="jumbotron jumbotron-fluid text-center bgimage">
    <div class="container" style="z-index:1; position:relative;">
        <h1 class="display-5">Our Special Offers!</h1>
        <p class="lead">Discover a wide range of books</p>
    </div>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 0;"></div>
</div>

<div class="container"  th:insert="~{@{/books/books_view} :: books-view}" >
</div>

<footer th:replace="~{@{/../index} :: main-footer}">
</footer>


<div th:insert="~{@{/../index} :: js-dependency}"></div>
<script>
    function updateTextInput(val) {
          document.getElementById('textInput').value=val+"$";
        }
</script>
</body>
</html>
