<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{@{/../index} :: main-header}">

</head>
<style>
    .about-us-section {
      margin-top: 50px;
    }
    .about-us-section img {
      float: right;
      margin-left: 20px;
      max-width: 300px;
      height: auto;
    }
</style>
<body>

<nav th:replace="~{@{/../index} :: main-navbar}">
</nav>

<div class="jumbotron jumbotron-fluid text-center bgimage">
    <div class="container" style="z-index:1; position:relative;">
        <h1 class="display-5">About Us</h1>
        <p class="lead">Learn more about our bookstore</p>
    </div>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 0;"></div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis viverra lacus quis justo efficitur, nec malesuada lectus aliquam. Morbi et lorem sit amet justo vehicula rhoncus nec in sem. Nulla facilisi. Vestibulum nec orci lectus. Cras eu quam vitae velit placerat malesuada. Integer ac ultricies nisl. Sed at lorem mi. Proin euismod velit velit, a sodales sem consequat ac. Aliquam erat volutpat.</p>
            <p>Praesent ut eros id purus cursus tincidunt. Proin ut pharetra nisi. Sed laoreet mauris eu pulvinar euismod. Integer non tortor sit amet velit pharetra egestas sit amet eu odio. Ut non nisi vehicula, fringilla quam eu, eleifend nunc. Vestibulum quis magna et lacus gravida auctor. Cras tempor scelerisque dui, in gravida magna eleifend vel. Nam quis libero ex.</p>
        </div>
    </div>
    <!-- About us section -->
    <div class="row about-us-section">
        <div class="col-md-8 mx-auto">
            <h2 class="text-right">Why choose us?</h2>
            <img src="https://cdn.pixabay.com/photo/2020/07/23/01/29/books-5430104_960_720.jpg" alt="Books">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis viverra lacus quis justo efficitur, nec malesuada lectus aliquam. Morbi et lorem sit amet justo vehicula rhoncus nec in sem. Nulla facilisi. Vestibulum nec orci lectus. Cras eu quam vitae velit placerat malesuada.</p>
            <p>Praesent ut eros id purus cursus tincidunt. Proin ut pharetra nisi. Sed laoreet mauris eu pulvinar euismod. Integer non tortor sit amet velit pharetra egestas sit amet eu odio. Ut non nisi vehicula, fringilla quam eu, eleifend nunc.</p>
        </div>
    </div>
</div>
<footer th:replace="~{@{/../index} :: main-footer}">
</footer>

<div th:insert="~{@{/../index} :: js-dependency}"></div>
</body>
</html>
