 body {
    background-color: #f8f9fa;

}
.jumbotron {
    background-color: #343a40;
    color: #ffffff;
}
.custom-icon-style{
    width: 20px;
    height: auto;
    margin-top: 8px;
}
.bgimage{
    background-image: url('https://cdn.pixabay.com/photo/2015/07/27/20/16/book-863418_960_720.jpg') ;
    background-size: cover;
    background-position: center;
    position:relative;

}
.custom-navbar-style{
    border-bottom: solid 1px black;
}

